@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* Wrapper for the width */

.wrapper {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/********************************* Background Image CSS Starts *************************************/

.main-shape {
    content: "";
    background: url('../img/left-rec.png') no-repeat left bottom;
    background-size: cover;
    position: absolute;
    left: -639px;
    top: -137px;
    display: inline-block;
    width: 839px;
    height: 839px;
    z-index: -1;
}

.main-shape1 {
    content: "";
    background: url('../img/right-rec.png');
    background-size: cover;
    position: absolute;
    right: -500px;
    top: -690px;
    display: inline-block;
    width: 1801px;
    height: 1801px;
    z-index: -1;
}

/********************************* Background Image CSS Ends *************************************/

/********************************* Logo Content Header CSS Starts *************************************/

img {
    vertical-align: middle;
    border-style: none;
}

.navbar-brand {
    margin-top: 37px;
    margin-left: 57px;
    width: 285px;
    height: 122px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 515px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mr-40 {
    margin-right: 40px !important;
}

header {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    margin-top: -50px;
    /* padding: 2em 10%; */
    /* background: #2c3e50; */
    color: #fff;
}

header img, header nav {
    display: inline-block;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

/********************************* Logo Content Header CSS Ends *************************************/

/********************************* Top NavBar CSS Starts *************************************/

.top-head {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mr-20 {
    margin-right: 20px !important;
}

.top-head>ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

.top-head>ul>li {
    list-style: none;
}

.top-head>ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/********************************* Top NavBar CSS Ends *************************************/

.banner {
    margin: 321px 0 0;
}

.heading {
    margin-left: 60px;
    font-size: 67px;
    font-weight: bold;
    color: #03045E;
}

.content>p {
    margin-left: 60px;
    font-size: 19px;
    color: #0A0A0A;
}

.content>p>span {
    /* margin-left: 60px; */
    font-size: 42px;
    color: #0A0A0A;
}

.bannerButton {
    background-color: #03045E;
    width: 299px;
    height: 70px;
    border-radius: 35px;
    margin-left: 60px;
    margin-top: 42px;
}

.banner-image {
    position: relative;
    top: -207px;
    left: -274px;
}

.button1 {
    margin-left: 600px;
    margin-top: -200px;
    width: 88px;
    height: 88px;
    /* background-color: red; */
    /* transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0); */
    /* border-radius: 22px; */
    /* background:  0% 0% no-repeat padding-box; */
}
.carousel{
    margin-left: ;
}
.button2 {
    margin-left: -150px;
    margin-top: -200px !important;
    width: 88px;
    height: 88px;
    /* background: 0% 0% no-repeat padding-box; */
    /* border-radius: 22px; */
}

.banner-image>.image-box {
    /* margin-top: 150px; */
    margin-left: -659px;
    /* margin-right: 200px; */
    width: 747px !important;
    height: 747px !important;
    -webkit-mask-box-image: url('../img/banner-img.svg');
    float: right;
}

.banner-image>.image-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-button1 {
    margin-top: -200px;
    margin-left: 20px;
    /* transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0); */
}

.banner-button2 {
    margin-top: -120px;
    margin-right: 600px;
    /* margin-left: -100px; */
}

/* .banner>.banner-image>.animated-box {
    position: absolute;
    width: 281px;
    height: 281px;
    border: 5px solid var(--white-color);
    border-radius: 60px;
    transform: rotate(45deg);
    bottom: 361px;
    right: 65px;
    animation: 5s rotate infinite linear;
} */

.animated-box {
    position: absolute;
    width: 234px;
    height: 234px;
    border: 5px solid white;
    border-radius: 60px;
    transform: rotate(45deg);
    /* margin-bottom: 800px;
    margin-right: 300px; */
    margin-left: 400px;
    margin-top: -50px;
    animation: 5s rotate infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* .morebtn {
    width: 11px;
    height: 20px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    background: 0% 0% no-repeat padding-box;
}

.lessbtn {
    width: 11px;
    height: 20px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    background: 0% 0% no-repeat padding-box;
} */

/********************************* About CSS Starts *************************************/

.left-shape {
    content: "";
    background: url(../img/left.png) no-repeat left bottom;
    background-size: cover;
    position: absolute;
    margin-left: -658.005859375px;
    margin-top: -300px;
    display: inline-block;
    width: 1317px;
    height: 1361px;
    /* z-index: -1; */
}
.selected{
    background-color: blue;
}
/* .nav-tabs > div{
    background-color: #03045E;
} */
/* Make the image fully responsive

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.right-shape {
    content: "";
    background: url(../img/left.png) no-repeat left bottom;
    background-size: cover;
    position: absolute;
    right: -250px;
    top: 1900px;
    display: inline-block;
    width: 599px;
    height: 599px;
    z-index: -1;
}

/* Bootstrap card */

.imageIcons {
    height: 90px;
    width: 90px;
    display: block;
    margin: 0 auto;
    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
}

.card-block {
    border-radius: 60px !important;
    width: 312px;
    height: 312px;
    padding: 20px;
    border: none
}

.item {
    padding-left: 5px;
    padding-right: 5px;
}

.item-card {
    transition: 0.5s;
    cursor: pointer;
}

.item-card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.item-card-title i {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    color: #ffa710
}

.card-title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.8px;
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: white;
}

/* .card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    background-color: #03045E !important;
    color: white;
    background: url(../img/creat1.png) no-repeat;
    display: block;
    margin: 0 auto;
} */

.card-text {
    height: 80px;
    text-align: center;
    font: 14px;
    letter-spacing: 0.56px;
    color: #8B8D9F;
}
.nav-tabs {
    border-bottom: 0px solid #FFFFFF !important;
}
.card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
    /* border-radius: 25px; */
}

a:hover{
    text-decoration: none !important;
    /* background-color: #03045E; */
}
/* bootstrap tabs */
#exTab1 .nav-pills > li > a {
    border-radius: 0;
    background-color: #03045E;
  }

  #exTab1 .tab-content {
    /* color : white; */
    /* background-color: #428bca; */
    padding : 5px 15px;
  }
.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
}

.info {
    float: right;
    margin-top: -500px;
    margin-right: 100px;
    /* margin-left: -200px !important; */
}

/* .click1{
    margin-left: 900px;
}
.click2{
    margin-left: 1050px;
    margin-top: 1405px !important;
} */

.banner-button {
    margin-left: 900px;
    margin-top: -200px;
}

/*  */

.empty {
    background: url(../img/empty.png);
    width: 330px;
    height: 330px;
    margin-left: 1350px;
    margin-top: 200px;
}

/********************************* About CSS Ends *************************************/

/********************************* Portfolio CSS Starts *************************************/

.portfolio {
    font-size: 34px;
    text-align: left;
    letter-spacing: 0px;
    color: #03045E;
    font-weight: bold;
}

.design {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
}

.develop {
    border-radius: 35px;
    background: #03045E 0% 0% no-repeat padding-box;
    width: 299px;
    height: 70px;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.customization {
    letter-spacing: 2px;
    color: #060606;
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
}

.work {
    font-size: 18px;
    color: #828282;
    letter-spacing: 0.72px;
    text-align: left;
}

.readMore {
    letter-spacing: 0.64px;
    color: #03045E;
    text-align: left;
    font-size: 16px;
}

.left-rect {
    content: "";
    background: url(../img/left.png) no-repeat left bottom;
    background-size: cover;
    position: absolute;
    /* right: -250px; */
    margin-left: -300px;
    top: 2600px;
    display: inline-block;
    width: 599px;
    height: 599px;
    z-index: -1;
}

/* control slider */

.slideBox {
    position: absolute;
    width: 150px;
}

.img1 {
    background: url(../img/img2.jpg) no-repeat;
    width: 400px;
    height: 400px;
    /* width: 100%;
    height: 100%; */
    /* object-fit: cover; */
    border-radius: 60px;
    margin-left: 200px;
}

#slideBox1 {
    left: 0;
}

#slideBox2 {
    left: 150px;
}

#slideBox3 {
    left: 300px;
}

.box1 {
    font-family: 'Raleway', sans-serif;
}

.box1:before {
    content: '';
    /* background: rgba(199,220,151,0.7);    */
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: rotate(-180deg);
    position: absolute;
    left: 0;
    top: 0;
    /* transition: all 0.1s ease 0s; */
}

.box1:hover:before {
    opacity: 1;
    transform: rotate(0);
    /* transition: all 1s ease 0s; */
    border-radius: 70px;
}

.box1 img {
    width: 100%;
    height: auto;
}

.box1 .box-content1 {
    text-align: center;
    width: 80%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(-180deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity 0.1s ease 0s, transform 0.1s ease 0s;
}

.box1:hover .box-content1 {
    opacity: 0.6;
    transform: translateX(-50%) translateY(-50%) rotate(0);
    transition: all 1s ease 0s;
}

.box1 .title {
    color: white;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0 0 5px;
}

.box1 .post {
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 10px;
    display: block;
}

.box1 .icon1 {
    padding: 0;
    margin: 0;
    list-style: none;
}

.box1 .icon1 li {
    margin: 0 4px;
    display: inline-block;
}

.box1 .icon1 li a {
    color: white;
    font-size: 13px;
    text-align: center;
    line-height: 27px;
    height: 27px;
    width: 27px;
    border: 1px solid #111;
    display: block;
    transition: all 0.3s ease 0s;
}

.box1 .icon1 li a:hover {
    color: #fff;
    background: #111;
    border-radius: 50%;
}

/* .imgportfolio {
    opacity: 1.6;
                  transition: opacity .55s ease-in-out;
                  -moz-transition: opacity .55s ease-in-out;
                  -webkit-transition: opacity .55s ease-in-out;
}
.imgportfolio:hover {
    opacity: 0.6;
                  transition: opacity .55s ease-in-out;
                  -moz-transition: opacity .55s ease-in-out;
                  -webkit-transition: opacity .55s ease-in-out;
} */

/********************************* Portfolio CSS Ends *************************************/

/********************************* What We Provide CSS Starts *************************************/

.web-left {
    content: "";
    background: url('../img/web.png') no-repeat left bottom;
    background-size: cover;
    position: absolute;
    left: -639px;
    top: 2800px;
    display: inline-block;
    width: 821px;
    height: 839px;
    z-index: -1;
}

.web-right {
    content: "";
    background: url(../img/imagebox.png) no-repeat left bottom;
    background-size: cover;
    position: absolute;
    right: -50px;
    top: 3000px;
    display: inline-block;
    width: 950px;
    height: 1316px;
    z-index: -1;
}

.whatweprovide {
    margin-top: 400px;
    margin-right: 60px;
}

.emptyBox {
    background: url(../img/banner.png);
    width: 400px;
    height: 400px;
    margin-top: -100px;
    margin-left: 200px;
}

.web-container {
    /* margin-left: 500px; */
    /* margin-top: -100px; */
}

.web-title {
    font-size: 30px;
    letter-spacing: 1.2px;
    text-align: right;
}

.web-content {
    text-align: right;
    font: 16px;
    letter-spacing: 0.64px;
    color: #8B8D9F;
}

.provider {
    position: relative;
    /* top: 3000px; */
    /* left: 3000px; */
}

.provider>.imgprovider {
    margin-top: -100px;
    /* margin-left: -459px; */
    /* margin-bottom: 200px; */
    /* margin-right: 500px; */
    width: 401px !important;
    height: 401px !important;
    -webkit-mask-box-image: url('../img/banner-img.svg');
    float: right;
    background-color: darkblue;
}

.divList {
    /* list-style: none; */
    text-align: right;
    margin-right: 60px;
    margin-top: -100px;
    /* padding: 36px; */
}

.nobullet {
    list-style-type: none;
    /* padding: 36px; */
}

.listStyle {
    font-size: 20px;
    letter-spacing: 2px;
    color: #060606;
    padding: 36px;
    cursor: pointer;
}

.listButton {
    border-radius: 35px;
    background: #03045E;
    color: #FFFFFF;
    font-size: 20px;
    width: 299px;
    height: 70px;
}

/********************************* What We Provide CSS Ends *************************************/

/********************************* Who We Are CSS Starts *************************************/

.left-triangle {
    content: "";
    background: url(../img/left.png) no-repeat left bottom;
    background-size: cover;
    position: absolute;
    margin-left: -658.005859375px;
    margin-top: -50px;
    display: inline-block;
    width: 1317px;
    height: 1361px;
    /* z-index: -1; */
}

.whoweare {
    margin-top: 200px;
    margin-left: 60px;
}

.workwedo1 {
    margin-top: 278px;
}

.workwedo2 {
    margin-top: -520px;
    margin-left: 600px;
}

.workwedo3 {
    margin-top: -520px;
    margin-left: 1200px;
}

.dash {
    width: 1300px;
    border-top: 5px solid #03045E;
    /* opacity: 1;   */
}

.project-banner-white {
    width: 274px;
    height: 274px;
    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 16px 33px 46px #00000029;
    border: 1px solid #03045E;
    border-radius: 50px;
    opacity: 1;
    margin-top: -250px;
    margin-left: 80px;
    /* z-index: 1; */
}

.project-banner-blue {
    margin-left: 220px;
    margin-top: -110px;
    width: 211px;
    height: 211px;
    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
    background: #03045E 0% 0% no-repeat padding-box;
    border-radius: 40px;
    opacity: 1;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(45deg);
    margin-left: 100px;
    margin-top: 80px;
}

.project-content {
    margin-left: 150px;
    margin-top: 80px;
}

/********************************* Who We Are CSS Ends *************************************/


/********************************* Testimonials CSS Starts *************************************/

.right-triangle {
    content: "";
    background: url(../img/left.png) no-repeat left bottom;
    background-size: cover;
    position: absolute;
    right: -700px;
    top: 4900px;
    display: inline-block;
    width: 1317px;
    height: 1317px;
    z-index: -1;
}

.testimonial {
    margin-top: 150px;
    margin-right: 60px;
}

.card {
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.profile-pic {
    width: 100px !important;
    height: 100px;
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #1E88E5 !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    color: #0D47A1 !important;
    background-color: transparent !important
}

.owl-dots {
    display: none
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.item {
    display: none
}

.next {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.prev {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.item.show {
    display: block;
    transition-duration: 0.4s
}

@media screen and (max-width: 999px) {

    .next,
    .prev {
        transform: scale(1);
        opacity: 1
    }

    .item {
        display: block !important
    }
}
/* .card {
    margin: 0 auto;
  }
  .card .carousel-item {
    height: 200px;
  }
  .card .carousel-caption {
    padding: 0;
    right: 0;
    left: 0;
    color: #3d3d3d;
  }
  .card .carousel-caption h3 {
    color: #3d3d3d;
  }
  .card .carousel-caption p {
    line-height: 30px;
  }
  .card .carousel-caption .col-sm-3 {
    display: flex;
    align-items: center;
  }
  .card .carousel-caption .col-sm-9 {
    text-align: left;
  }
  .card .carousel-control-prev, .card .carousel-control-next {
    color: #3d3d3d !important;
    opacity: 1 !important;
  } */
/********************************* Testimonials CSS Ends *************************************/

/********************************* Team CSS Starts *************************************/

.left-teams {
    content: "";
    background: url(../img/left.png) no-repeat left bottom;
    background-size: cover;
    position: absolute;
    margin-left: -658.005859375px;
    margin-top: -200px;
    display: inline-block;
    width: 1317px;
    height: 1361px;
    /* z-index: -1; */
}
.teams {
    margin-top: 200px;
    margin-left: 60px;
}
.team4 {
    font-family: "Montserrat", sans-serif;
      color: #8d97ad;
    font-weight: 300;
  }
  
  .team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
    color: #3e4555;
  }
  
  .team4 .font-weight-medium {
      font-weight: 500;
  }
  
  .team4 h5 {
      line-height: 22px;
      font-size: 18px;
  }
  
  .team4 .subtitle {
      color: #8d97ad;
      line-height: 24px;
          font-size: 13px;
  }
  
  .team4 ul li a {
    color: #8d97ad;
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  
  .team4 ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
      color: #316ce8;
  }
/* hover pop for t1 */
.t1 {
    position: relative;
    display: inline-block;
    background: transparent url('../img/teams/t5.png') 0% 0% no-repeat padding-box;
      width: 250px;
      height: 170px;
      margin-left: 60px;
      margin-top: 50px;
  }
  
  .t1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .t1:hover .tooltiptext {
    visibility: visible;
  }

  /* hover pop for t1 */
.t2 {
    position: absolute;
    display: inline-block;
    background: transparent url('../img/teams/t1.png') 0% 0% no-repeat padding-box;
    width: 150px;
    height: 120px;
    object-fit: contain;
    /* margin-top: 50px; */
    margin-left: 250px;
  }
  
  .t2 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .t2:hover .tooltiptext {
    visibility: visible;
  }
/* hover pop for t1 */
.t3 {
    position: relative;
    display: inline-block;
    background: transparent url('../img/teams/t2.png') 0% 0% no-repeat padding-box;
    width: 171px;
    height: 171px;
    margin-left: 150px;
    margin-top: 170px;
  }
  
  .t3 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .t3:hover .tooltiptext {
    visibility: visible;
  }
/* hover pop for t1 */
.t4 {
    position: absolute;
    display: inline-block;
    background:  url('../img/teams/t8.png') 0% 0% no-repeat padding-box;
    width: 170px;
    height: 170px;
    margin-left: -100px;
    margin-top: -50px !important; 
  }
  
  .t4 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .t4:hover .tooltiptext {
    visibility: visible;
  }
  /* hover pop for t1 */
.t5 {
    position: absolute;
    display: inline-block;
    background:  url('../img/teams/t4.png') 0% 0% no-repeat padding-box;
    width: 125px;
    height: 126px;
    margin-left: 150px;
    margin-top: 200px !important;
  }
  
  .t5 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .t5:hover .tooltiptext {
    visibility: visible;
  }
  /* hover pop for t1 */
.t6 {
    position: absolute;
    display: inline-block;
    background: transparent url('../img/teams/t3.png') 0% 0% no-repeat padding-box;
    width: 270px;
    height: 270px;
    margin-left: 100px;
    margin-top: -100px;
  }
  
  .t6 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .t6:hover .tooltiptext {
    visibility: visible;
  }
  /* hover pop for t1 */
.t7 {
    position: relative;
    display: inline-block;
    background: transparent url('../img/teams/t7.png') 0% 0% no-repeat padding-box;
    width: 220px;
    height: 220px;
    margin-left: 1100px;
    margin-top: -250px;
  }
  
  .t7 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .t7:hover .tooltiptext {
    visibility: visible;
  }

  /* hover pop for t1 */
.t8 {
    position: absolute;
    display: inline-block;
    background: transparent url('../img/teams/t6.png') 0% 0% no-repeat padding-box;
    width: 220px;
    height: 220px;
    margin-left: -100px;
    margin-top: -35430px ;
  }
  
  .t8 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .t8:hover .tooltiptext {
    visibility: visible;
  }
/********************************* Team CSS Ends *************************************/

/********************************* Footer CSS Starts *************************************/

.footer {
    margin-left: 60px;
    margin-right: 60px;
    width: 1670px;
    height: 360px;
    margin-top: 300px;
    background: #03045E 0% 0% no-repeat padding-box;
    border-radius: 80px 80px 0px 0px;
}

.logo-content {
    color: #FFFFFF;
    text-align: left;
    font-size: 16px;
    padding-top: 10px;
}

.lineBeforeContent {
    margin-top: 20px;
    width: 4px;
    height: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.services {
    margin-top: -25px;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 18px;
}

.service-list {
    list-style-type: none;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 0.56px;
}

.pt-10 {
    padding-top: 10px;
}

.address {
    color: #FFFFFF;
    font-size: 17px;
    letter-spacing: 0.56px;
    cursor: pointer;
}

.contact {
    color: #FFFFFF;
    font-size: 17px;
    letter-spacing: 0.56px;
    cursor: pointer;
}

.email {
    color: #FFFFFF;
    font-size: 17px;
    letter-spacing: 0.56px;
    cursor: pointer;
}

.social-media {
    color: #FFFFFF;
    letter-spacing: 0.48px;
    font-size: 16px;
    padding-top: 10px;
}

.subscribe {
    background: #03045E 0% 0% no-repeat padding-box;
    border-radius: 25px;
    width: 107px;
    height: 37px;
    color: #FFFFFF;
}

input[type="text"] {
    width: 270px;
    height: 45px;
    padding-right: 50px;
    border-radius: 31px;
    padding-left: 10px;
}

input[type="submit"] {
    margin-left: -120px;
    width: 107px;
    height: 37px;
    background: blue;
    color: white;
    border: 0;
    background: #03045E 0% 0% no-repeat padding-box;
    border-radius: 25px;
    -webkit-appearance: none;
}

.copyright {
    margin-left:80px;
    margin-right:60px;
    width: 1500px;
    height: 75px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 60px 60px 0px 0px;
    opacity: 1;
    letter-spacing: 0.44px;
    font-size: 15px;
}
.termsNcondition{
    float: right;
    margin-top: -50px;
    margin-right: 120px;
    cursor: pointer;
}

/********************************* Footer CSS Ends *************************************/